<script server>
    const isHomepage = true
</script>

<div class="hero bg-base-100 pt-40">
    <div class="hero-content text-center">
        <div class="">
            <a href="/" class="no-underline">
                <h1 class="text-5xl font-bold">
                    <%= (data.metadata.find(meta => meta.name ===
                    "og:site_name")).content %>
                </h1>
            </a>
            <a href="/blog/posts" class="no-underline">
                <div class="mockup-code text-left group transition-all">
                    <pre
                        class="h-full group-hover:text-primary transition-all text-wrap"
                        data-prefix="$"
                    >
read about the lessons I have learned from the mistakes I have made. </pre
                    >
                </div>
            </a>
        </div>
    </div>
</div>
<%- include("blogcards.ejs", { isHomepage }) %>
