<script server>
    const isHomepage = true
</script>

<div class="hero bg-base-200 pt-40">
    <div class="hero-content text-center">
        <div class="">
            <h1 class="text-5xl font-bold">
                <%= (data.metadata.find(meta => meta.name ===
                "og:site_name")).content %>
            </h1>
            <a href="/blog/posts" class="no-underline">
                <div class="mockup-code text-left group transition-all">
                    <pre
                        class="h-full group-hover:text-primary transition-all text-wrap"
                        data-prefix="$"
                    >
find out what mistakes I have made and lessons I may have learned along the way.</pre
                    >
                </div>
            </a>
        </div>
    </div>
</div>
<%- include("blogcards.ejs", { isHomepage }) %>
